*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url('wooden.jpeg');
    background-position: center;
    height: 100%;
    overflow: hidden;
}
main{
    display: block;
    text-align: center;
    width: 20em;
    padding: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 5px 5px 1px black;
    border-radius: 3px;
    border: solid white;
}
h1{
    color: white;
    text-transform: uppercase;
}
#digit{
    color: green;
    font-weight: 500;
    font-size: 150px;
}
button{
    display: block;
    margin: auto;
    padding: 10px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 12px;
    color: white;
    background-color: rgb(32, 32, 87);
    border:none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: black 1px 3px 5px 1px;
}
button:hover{
    background-color: navy;
}
i{
    cursor: pointer;
    margin-top: 1em;
}
@media only screen and (min-width:375px){
        main{
            padding: 2em;
            max-width: 30em;
            margin: 8em auto;
    }
}